<!doctype html>
<html ng-app="TicTacToeApp">
<head>
<title>Eli's Tic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>

<div id="backgroundBox"></div>

<div ng-controller="TTTController">
	<div id="ticTacToeContainer">
        <p class="ticTacToe">TIC TAC TOE</p>
    </div>
	<div class="gameOverContainer" ng-hide="myVar" ng-class="{xWinBorder: whoWon == 'X', oWinBorder: whoWon == 'O'}" >
        <p class="headlineClass" ng-class="{xWins: whoWon == 'X', oWins: whoWon == 'O'}">{{statusHeadline}}</p>
        <div id="horizRule"></div> 
        <div class="playAgain" ng-click="resetAll(); toggle();" ng-hide="myVar">
            <p id="playText"> PLAY AGAIN!</p>
         </div>
    </div>
    <div id="theBoxContainer">
		<div id="box">
		    <div class="allCellsAlways" ng-repeat="currentCell in cellList" ng-click="playerPicks(currentCell)" ng-class="{
		    unclickedRedsTurn: currentCell.tStatus== 'G',
		    unclickedBluesTurn: currentCell.tStatus== 'H',
		    clickedRed: currentCell.goPin == 'D', clickedBlue: currentCell.goPin == 'E'
		    }">
		    </div>
		</div>
	</div>
    <div class="winCountXContainer" ng-class="{winCountContainerBig: movecounter%2==0}">
        <div class="winCountX">{{winCount[0].wins}}
        </div>
    </div>
    <div id="winTallyContainer">
        <p class="winTally">WIN TALLY</p>
    </div>
    <div class="winCountOContainer" ng-class="{winCountContainerBig: movecounter%2==1}">
        <div class="winCountO">{{winCount[1].wins}}
        </div>
    </div>
</div>
</body>
